<div class="container builder">
  <div class="row sentence">
    <ul class="col-xs-8 col-md-10 list-inline list-unstyled word-list">
      <li ng-repeat="item in sentence track by $index">{{item.name}}</li>
    </ul>
    <div class="col-xs-4 col-md-2 actions input-group">
      <button class="btn btn-success" ng-click="speak()">
        <span class="glyphicon glyphicon-play-circle"></span>
      </button>
      <button class="btn cancel" ng-click="clear()">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
  </div>
  <div class="row selection">
    <div class="categories">
      <div class="list-unstyled list-group">
        <div class="scroll-header">
          <div class="list-group-item">{{category.name}}</div>
          <a class="list-group-item back" ng-click="popCategory()" ng-if="stack.length">&laquo; Back</a>
        </div>
        <div class="scrollable">
          <a class="list-group-item" ng-click="pickCategory(item)"  ng-repeat="item in category.childrenList | orderBy:'name'">{{item.name}}</a>
        </div>
      </div>
    </div>
    <div class="words" category="{{category.name}}">

      <div class="list-unstyled list-group row scrollable">
        <a ng-click="pickWord(item)"
           ng-repeat="item in wordList | orderBy:'name'"
           class="list-group-item col-xs-4 col-md-3 col-lg-2"
           ng-class="item.categories"
        >
          <div class="text">
            {{item.name}}
          </div>
          <div class="img" style="background-image: url(img/words/{{item.safe}}.png)">
          </div>
        </a>
      </div>
    </div>
  </div>
</div>